<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2020, Shashank Verma <shashank.verma2002@gmail.com>
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in all
  ~ copies or substantial portions of the Software.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alpha.dev.flip_to_shush">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".appService.FlipToShush"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".activities.SensorTesting"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PrivacyViewer"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FeatureStopper"
            android:configChanges="uiMode"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Stopper" />
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FeatureStarter"
            android:configChanges="uiMode"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait"
            android:theme="@style/Starter" />
        <activity
            android:name=".activities.HelpActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LauncherActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcut" />
        </activity>
        <activity
            android:name=".activities.PermissionActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="uiMode"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme" />

        <receiver android:name=".appService.HideNotificationAction" />
        <receiver android:name=".appService.StopServiceAction" />
        <receiver android:name=".appService.ForceStartService" />
        <!--
 <receiver
             android:name=".appService.UpdateReceiver"
             android:enabled="true">
             <intent-filter>
                 <action android:name="android.intent.action.PACKAGE_REPLACED" />
                 <data android:scheme="package" />
             </intent-filter>
         </receiver>
        -->
        <receiver
            android:name=".appService.UpdateReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".appService.AutoStartUp">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".appService.FlipService"
            android:launchMode="singleTop" />
        <service
            android:name=".appService.FlipServiceCompat"
            android:launchMode="singleTop" />
    </application>

</manifest>